services:

  redis:
    image: redis:8.0.5-alpine3.21
    container_name: production-demo-redis
    labels:
      - traefik.enable=true
      - traefik.http.routers.redis.rule=Host(`redis.${PROJECT_DOMAIN}`)
      - traefik.http.routers.redis.service=redis
      - traefik.http.services.redis.loadbalancer.server.port=6379
    ports:
      - 6379:6379
    networks:
      - production-demo-network
    volumes:
      - ./docker/redis/redis.conf:/usr/local/etc/redis/redis.conf
      - production-demo-redis:/data
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]

  traefik:
    image: traefik:v3.6.4
    container_name: production-demo-traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.api.entrypoints=web
      - traefik.http.routers.api.rule=Host(`traefik.${PROJECT_DOMAIN}`)
      - traefik.http.routers.api.service=api@internal
      - traefik.http.routers.api.middlewares=user-auth@file
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./docker/traefik/traefik.yml:/etc/traefik/traefik.yml
      - ./docker/traefik/dynamic.yml:/etc/traefik/dynamic.yml
    networks:
      - production-demo-network
  
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: production-demo-minio
    command: minio server /minio_data --console-address ":9001"
    labels:
      - traefik.enable=true
      - traefik.http.routers.minio.rule=Host(`minio.${PROJECT_DOMAIN}`)
      - traefik.http.routers.minio.service=minio
      - traefik.http.services.minio.loadbalancer.server.port=9000
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ACCESS_KEY=${MINIO_ROOT_USER}
      - MINIO_SECRET_KEY=${MINIO_ROOT_PASSWORD}
    volumes:
      - production-demo-minio:/data
    networks:
      - production-demo-network

  etcd:
    container_name: production-demo-milvus-etcd
    image: quay.io/coreos/etcd:v3.5.18
    environment:
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
      - ETCD_SNAPSHOT_COUNT=50000
    volumes:
      - production-demo-milvus-etcd:/etcd
    command: etcd -advertise-client-urls=http://etcd:2379 -listen-client-urls http://0.0.0.0:2379 --data-dir /etcd
    networks:
      - production-demo-network

  milvus-standalone:
    container_name: production-demo-milvus-standalone
    image: milvusdb/milvus:2.6-20251226-81e48707
    command: ["milvus", "run", "standalone"]
    security_opt:
    - seccomp:unconfined
    labels:
      - traefik.enable=true
      - traefik.http.routers.milvus-standalone.entrypoints=web
      - traefik.http.routers.milvus-standalone.rule=Host(`milvus.${PROJECT_DOMAIN}`)
      - traefik.http.routers.milvus-standalone.service=milvus-standalone
      - traefik.http.services.milvus-standalone.loadbalancer.server.port=9091
    environment:
      ETCD_ENDPOINTS: etcd:2379
      MINIO_ADDRESS: minio:9000
      MINIO_ACCESS_KEY_ID: ${MINIO_ROOT_USER}
      MINIO_SECRET_ACCESS_KEY: ${MINIO_ROOT_PASSWORD}
    volumes:
      - production-demo-milvus:/var/lib/milvus
    ports:
      - "19530:19530"
      - "9091:9091"
    depends_on:
      - "etcd"
      - "minio"
    networks:
      - production-demo-network

volumes:
  production-demo-redis:
    external: true
  production-demo-minio:
    external: true
  production-demo-milvus-etcd:
    external: true
  production-demo-milvus:
    external: true

networks:
  production-demo-network:
    driver: bridge